<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@DocumentingATX" />
<meta name="twitter:title" content="DASHboard: donations and operating expenses" />
<meta name="twitter:description" content="YTD: $4224.00 donations, $7738.79 expenses" />
<meta name="twitter:image" content="https://atxdashboard.com/Jamie_Hammonds_DASH.jpg" />
<title>DASHboard: donations and operating expenses</title>

<link href="/css/index.css" rel="stylesheet">

<script src="/js/index.js"></script>
</head>
<body>
<header>
    <a href="https://x.com/DocumentingATX" target="_blank"><img src="DASH_ATX_Documenting_Austin_Streets_Homeless_Logo.jpg" alt="Company Logo" class="logo"></a>
    <h1>DASHboard</h1>
</header>

<section class="photo-message-container">
    <img src="Jamie_Hammonds_DASH.jpg" alt="Photographer Headshot" class="photographer">
    <p>Huge THANK YOU to all the amazing Austinites supporting <a href="https://x.com/DocumentingATX" target="_blank">DASH</a>'s journalism and our mission to help the homeless in our city! If you appreciate what we do, we'd be grateful for any donation. Every little bit helps! In the meantime, here is an overview of how we're using the money from our supporters. This dashboard should get updated daily. Thanks! -Jamie</p>
</section>

<section class="button-container" style="justify-content: center;">
    <a href="https://dashatx.net/donate" target="_blank"><button>Donate</button></a>
    
</section>

<section class="flex-container">
    <div class="summary-box">
        <h2 id="donation-summary">2024 Donations YTD: $1519</h2>
    </div>
    <div class="summary-box">
        <h2 id="expenses-summary">2024 Expenses YTD: $1850</h2>
    </div>
</section>



<section id="donations-section">
    <!-- <table id="January" class="monthly">
        <caption>January 2024 Donations ($419)</caption>
        <thead>
            <tr>
                <th>Donor Name</th>
                <th>Amount Contributed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Anonymous</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>Jane Smith</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>Roger Victor</td>
                <td>$69</td>
            </tr>
            <tr>
                <td>Anonymous</td>
                <td>$100</td>
            </tr>
        </tbody>
    </table>
    <table id="February" class="monthly">
        <caption>February 2024 Donations ($450)</caption>
        <thead>
            <tr>
                <th>Donor Name</th>
                <th>Amount Contributed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alice Johnson</td>
                <td>$200</td>
            </tr>
            <tr>
                <td>Bob Lee</td>
                <td>$250</td>
            </tr>
        </tbody>
    </table>
    <table id="March" class="monthly">
        <caption>March 2024 Donations ($650)</caption>
        <thead>
            <tr>
                <th>Donor Name</th>
                <th>Amount Contributed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Clara Oswald</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Danny Pink</td>
                <td>$350</td>
            </tr>
        </tbody>
    </table> -->
</section>

<section class="button-container">
    <button class="nav-button" onclick="switchMonth(-1)">Previous Month</button>
    <button class="nav-button" onclick="switchMonth(1)">Next Month</button>
</section>


<section>
    <table id="expenses-table" class="visible"> <!-- Always visible -->
        <!-- <caption>2024 DASH Operating Costs YTD</caption>
        <thead>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Phone for livestreaming (Google Pixel)</td>
                <td>$700</td>
            </tr>
            <tr>
                <td>Water bottles to hand out to homeless</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Fuel for van</td>
                <td>$600</td>
            </tr>
            <tr>
                <td>Monthly Starlink Internet subscription</td>
                <td>$350</td>
            </tr>
        </tbody> -->
    </table>
</section>

</body>
</html>
